[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule ".vim/bundle/vim-colorscheme-elrodeo"]
	path = .vim/bundle/vim-colorscheme-elrodeo
	url = git://github.com/chmllr/vim-colorscheme-elrodeo.git
[submodule ".vim/bundle/cctrlp.vim"]
	path = .vim/bundle/cctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-monokai"]
	path = .vim/bundle/vim-monokai
	url = git://github.com/sickill/vim-monokai.git
[submodule ".vim/bundle/vim-obsession"]
	path = .vim/bundle/vim-obsession
	url = git://github.com/tpope/vim-obsession.git
[submodule ".vim/bundle/ag"]
	path = .vim/bundle/ag
	url = https://github.com/rking/ag.vim
